body {
  background: rgb(15, 35, 57) !important;
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.welcome {
  width: 80vw;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.daily-nfts {
  width: 80vw;
  margin: 0 auto;
}

.daily-img {
  height: 560px;
}

.explanation {
  padding: 1rem;
  border-radius: 5px;
  color: antiquewhite;
  background-color: rgba(0, 0, 0, 0.5);
}

.separator {
  flex-grow: 5;
}

.header-nav {
  background-color: black;
  color: white;
}