.nftForm {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.modal-content {
    padding: 1rem;
    background-color: rgb(72, 70, 70) !important;
}


#minNftBtn {
    background: linear-gradient(-225deg,
            #ac32e3 10%,
            #7918f2 60%,
            #4801ff 100%) !important;
    margin: 1rem 0;
    width: 10rem;
    height: 3rem;
    border: 0;
    border-radius: 3px;
    color: white;
    height: 48;
    padding: 0 30px;
}

#input {
    background-color: rgb(200, 195, 195);
    border: 1px solid rgb(200, 195, 195);
}

.modalBody {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

#modalImg {
    width: 200px;
    height: 200px;
    border-radius: 3%;
}


.canvas-brush {
    cursor: url('./brush.png'), auto;
}

.canvas-eraser {
    cursor: url('./pencil.png'), auto;
}

.separator {
    flex-grow: 1;
}

.disabled {
    opacity: 0.4;
    pointer-events: none;
}

.canvas-dimmer {
    height: 100%;
}

.options-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.options-panel .MuiButtonBase-root {
    margin: 0.5rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.open-arrow, .closed-arrow {
    align-self: center !important;
    margin: auto -0.5rem;
    padding: 0;
}

.open-arrow > .MuiButtonBase-root > svg {
    margin-left: 0.35rem;
    margin-right: -0.35rem;
}

.modal-header {
    margin-top: -1rem;
    margin-bottom: 1rem;
}

.options-panel .MuiButtonBase-root {
    background-color: rgb(31, 36, 39) !important;
}

.icon-button {
    padding: 0.5rem 1.25rem !important;
}

#red-ink {
    background-color: #e2503d !important;
}
#pink-ink {
    background-color: #ca5db9 !important;
}
#blue-ink {
    background-color: #256cde !important;
}
#yellow-ink {
    background-color: #f1f366 !important;
}
#green-ink {
    background-color: #82f366 !important;
}
#black-ink {
    background-color: #1f1f1f !important;
}

.modalBody,
.modalHeader,
.modalFooter {
    border: none !important;
    background-color: rgb(54, 52, 52);
}

.btn-close {
    background-color: grey;
}

#addModalBtn {
    background: linear-gradient(-225deg,
            #ac32e3 10%,
            #7918f2 60%,
            #4801ff 100%) !important;
    border: none;

}

#closeModalBtn {
    background: grey;
    border: 1px solid purple !important;
    color: rgb(72, 70, 70)
}

#priceModalHeader,
#priceModalBody,
#priceModalFooter {
    border: none;
}

#priceModalBody {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#priceForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    height: 150px;
    width: 70%;
}

#submitBtn {
    background: linear-gradient(-225deg,
            #ac32e3 10%,
            #7918f2 60%,
            #4801ff 100%) !important;
    margin: 10px;
    width: 10rem;
    height: 3rem;
    border: 0;
    border-radius: 3px;
    color: white;
    height: 48;
    padding: 0 30px;
}

#priceCloseBtn {
    background-color: silver;
    color: black;
    border: 2px solid #7918f2;
}
